body {
  margin: 0;
}
.acos-webdev-exercise {
  overflow: hidden;
}
.acos-webdev-exercise.horizontal .toolbox {
  width: 40%;
  float: right;
  border-left: 1px dashed grey;
  padding: 0 3%;
}
.acos-webdev-exercise .exercise {
  padding: 0.5em;
}
.acos-webdev-exercise.horizontal .exercise {
  width: 50%;
}
.acos-webdev-exercise > .instructions {
  margin: 0;
}
.acos-webdev-exercise .toolbox .instructions {
  padding: 0;
  margin: 0 0 2em 0;
}
.acos-webdev-exercise .state {
  float: left;
  margin-right: 1em;
}
.acos-webdev-exercise .trigger-button {
  margin: 0 0 0.5em 0;
}
.acos-webdev-exercise .feedback p {
  font-weight: bold;
  color: green;
  margin: 0;
}
.acos-webdev-exercise .points {
  border-radius: 0.8em;
  background-color: gainsboro;
  padding: 0.5em;
  color: grey;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
.acos-webdev-exercise button {
  border: 1px solid silver;
  border-radius: 0.5em;
  background-color: transparent;
  padding: 0.5em 1em;
  color: grey;
  font-family: inherit;
  font-size: 90%;
  font-weight: bold;
}
.acos-webdev-exercise .red {
  background-color: salmon;
  border-color: crimson;
  color: darkred;
}
.acos-webdev-exercise .yellow {
  background-color: yellow;
  border-color: gold;
  color: orange;
}
.acos-webdev-exercise .green {
  background-color: springgreen;
  border-color: limegreen;
  color: green;
}
.acos-webdev-exercise .blue {
  color: lightblue;
}
.acos-webdev-exercise button:hover {
  border-color: white;
  background-color: steelblue;
  color: white;
  cursor: pointer;
}
.acos-webdev-exercise button:disabled {
  background-color: grey;
  border-color: darkgrey;
  color: darkgrey;
  cursor: auto;
}
.acos-webdev-poi {
  display: inline-block;
  border: 1px solid skyblue;
  border-radius: 0.8em;
  background-color: lightcyan;
  padding: 1em 2em;
  min-height: 1em;
}
li.acos-webdev-poi {
  margin-right: 1em;
}
