{% if replayMode %}
<div id="acos-replay">
	Replay: <strong class="acos-replay-sec">0</strong> sec
	<div class="acos-replay-timeline">
		<canvas id="acos-replay-canvas"></canvas>
		<div class="acos-replay-progress"></div>
	</div>
</div>
{% endif %}
<div id="{{ id }}" class="{{ class }} iframe-exact-height {% if verticalLayout %}vertical{% else %}horizontal{% endif %}">
	{% if verticalLayout %}
	<p class="instructions"></p>
	<div class="exercise"></div>
	{{ addToBody }}
	{% endif %}
	<div class="toolbox">
		{% if not verticalLayout %}
		<p class="instructions"></p>
		{% endif %}
		<div class="state">
			{% if triggerButton %}
			<button class="trigger-button green">{{ triggerButton }}</button>
			{% endif %}
			<div class="points"></div>
			{% if resetButton %}
			<button class="reset-button">Reset</button>
			{% endif %}
		</div>
		<div class="feedback"></div>
	</div>
	{% if not verticalLayout %}
	<div class="exercise"></div>
	{{ addToBody }}
	{% endif %}
</div>
